.login-screen {
  background-color: #27262C;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.login {
  display: flex;
  flex-direction: column;
  width: 300px;
}

h1 {
  font-family: 'jk abode';
}